name: Template Testing Unix Mono

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
        description: 'The operating system to use'
      image:
        required: true
        type: string
        description: 'The image to use'
      architecture:
        required: true
        type: string
        description: 'The architecture to use'
      target_framework:
        required: true
        type: string
        description: 'The target framework to use'
      target_framework_array:
        required: true
        type: string
        description: 'The target frameworks to use'
      build_configuration:
        required: true
        type: string
        description: 'The build configuration to use'
      manual_build:
        required: false
        type: boolean
        default: true
        description: 'Whether to build manually before running the tests'
      upload_tests:
        required: false
        type: boolean
        default: true
        description: 'Whether to upload the test results'
      experimental:
        required: false
        type: boolean
        default: false
        description: 'Whether the tests are mandatory for the build to pass'

env:
  # Disable the .NET logo in the console output.
  DOTNET_NOLOGO: true
  # Disable the .NET first time experience to skip caching NuGet packages and speed up the build.
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending .NET CLI telemetry to Microsoft.
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  unix-mono:
    name: ${{ inputs.build_configuration }}
    runs-on: ${{inputs.image}}
    continue-on-error: ${{inputs.experimental}}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rosetta 2 on macOS
        if: ${{ inputs.image == 'macos-14' && inputs.architecture == 'x64' }}
        run: /usr/sbin/softwareupdate --install-rosetta --agree-to-license

      - name: Install Mono on Ubuntu
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y mono-complete

      - name: Install Mono on macOS
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install mono || (brew link --overwrite --force mono && brew install mono)
          brew link --overwrite --force mono
        shell: bash

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          architecture: ${{inputs.architecture}}
        env:
          DOTNET_INSTALL_DIR: ${{ runner.temp }}/.dotnet

      - name: Get Installed .NET SDK Information
        run: dotnet --info

      - name: Download Build Cache
        uses: ./.github/actions/test-build-cache
        if: ${{!inputs.manual_build}}
        with:
          os: ${{inputs.os}}
          build_configuration: ${{inputs.build_configuration}}

      - name: Test Mono ${{inputs.architecture}}
        uses: ./.github/actions/test-execute-test
        with:
          os: ${{inputs.os}}
          architecture: ${{inputs.architecture}}
          runtime-type: mono
          target_framework: ${{inputs.target_framework}}
          target_framework_array: ${{inputs.target_framework_array}}
          build_configuration: ${{inputs.build_configuration}}
          manual_build: ${{inputs.manual_build}}
          upload_tests: ${{inputs.upload_tests}}
          experimental: ${{inputs.experimental}}
